<div class="clotheRegister__container">
  <div class="clotheCreation__container">
    <mat-card>
      <form class="clotheCreation__form">
        <mat-form-field class="clotheCreation__input">
          <mat-label>Titulo</mat-label>
          <input matInput />
        </mat-form-field>
        <div class="clotheCreation__input">
            <label for="img-file">Imagen</label>
            <input type="file" id="img-file" />
        </div>
        <mat-form-field class="clotheCreation__input">
          <mat-label>Precio</mat-label>
          <input matInput type="number" step="0.01" />
        </mat-form-field>
        <mat-form-field class="clotheCreation__input">
          <mat-label>Descripción</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </mat-card>
  </div>
  <div class="clotheRegister"></div>
</div>
