<div class="menu__container">
    <div class="menu__upside">
        <h2 class="menu__title pointer" routerLink="/home">Shopping Car</h2>
        <div class="menu__actionIn">
            <div class="menu__login pointer" routerLink="/auth">login</div>
            <div class="menu__signIn pointer" routerLink="/auth/register">SignIn</div>
        </div>
    </div>
    <div class="menu__tabs">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Mujer">Ropa de mujer</mat-tab>
            <mat-tab label="Hombre">Ropa de hombre</mat-tab>
            <mat-tab label="Niña">Ropa de niña</mat-tab>
            <mat-tab label="Niño">Ropa de niño</mat-tab>
        </mat-tab-group>
    </div>
</div>
